//Convertir px a em
@function em($ele, $parent:15px){
	@return ($ele / $parent) * 1em;
}

//Convertir px a rem
@function rem($ele){
	@return ($ele / 15px) * 1rem;
}

//colores usados
$colors: (
	primario: #273477,	
	segundo: #1F9DD9,
	tercero: #F05A28,
	cuarto: #77A464,
	
    negro: #000000,
    negro-claro: #212121,
    oscuro: #363842,
	
	gris-claro: #e6e6e6,
	gris-medio: #bcbcbc,
	gris-oscuro: #757575,
    
    color-fondo: #FBFBFB,
    	
	blanco: #ffffff
);

//funcion parar obtener el color
@function color($color){
	@return map-get($colors, $color);
}

//colores de redes sociales
$socials: (
	facebook: #3b5998,
	twitter: #55acee,
	instagram: #e95950,
	google: #dd4b39,
	pinterest: #cb2027,
	youtube: #bb0000,
	linkedin: #007bb5
);

//funcion parar obtener el color de redes sociales
@function colorSocial($color){
	@return map-get($socials, $color);
}

//ruta de las imagenes
$path: 'img/';

@function imgRuta($img){
	@return url($path + $img);
}

@mixin imgParallax($img){
	background: imgRuta($img) no-repeat;
	background-position: center 0;
	background-size: cover;
	background-attachment: fixed;
}

@mixin imgFondo($img){
	background: imgRuta($img) no-repeat;
	background-position: center 0;
	background-size: cover;	
}